<h2><%= @user.email %></h2>
<h2><%= @user.name %></h2>

<dl>
	<% @user.articles.each do |article| %>
	<dt>article</dt><dd><%= article.body %></dd>
	<% end %>
</dl>


<%= link_to "Articles", articles_path %>
